.box{
    width: 500px;
    height: 500px;
    background-color: black;
    position: relative;
}
.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 250px;
    left: 250px;
}